@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    color: #333;
  }

  /* Navbar */
  header {
    background-color: #2a6ab400;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .logo img {
    height: 30px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: #fca503;
  }

  /* Hero section com a imagem da praia */
  .hero-section {
    background-image: url('../imgs/bg_main\ 1.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    color: white;
    margin-top: ; /* Para compensar a navbar fixa */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content {

    margin-bottom: 20px;
    left: 10%;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  button {
    background-color: #fca503;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #d48800;
  }

  /* Formulário de reserva */
  .booking-form {
    margin-top: 5%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .booking-form form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permitir quebra de linha em telas pequenas */
  }

  .form-group {
    flex: 1;
    margin: 0 10px;
    min-width: 200px; /* Largura mínima para campos */
  }

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  select,
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"] {
    background-color: #003366;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
  }

  button[type="submit"]:hover {
    background-color: #002244;
  }

  /* Seção de ofertas de cruzeiros */
  .offers-section {
    padding: 50px 0;
    text-align: center;
  }

  .offers-section h2 {
    margin-bottom: 30px;
    font-size: 2em;
  }

  .offer-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permitir quebra de linha em telas pequenas */
  }

  .offer-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
  }

  .offer-card img {
    max-width: 100%;
    border-radius: 10px;
  }

  .offer-card p {
    margin: 10px 0;
  }

  .offer-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
  }

  /* Seção de navios com imagem de fundo */
  .ships-section {
    background-image: url('../imgs/star-of-the-seas-sunset-sailing.png'); /* Substituir pelo caminho correto da imagem dos navios */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    color: white;
    text-align: center;
  }

  .ships-section h2 {
    margin-bottom: 30px;
    font-size: 2em;
  }

  .ships-cards {

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permitir quebra de linha em telas pequenas */
  }

  .ship-card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s;
  }

  .ship-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
  }

  /* Rodapé */
  footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
